[Unit]
Description=FF-MAP Tiles
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi_python3 -s 127.0.0.1:3032 --eval 'import sys; sys.path.insert(0,"/data/fff/TileStache"); import TileStache; application = TileStache.WSGITileServer("/usr/share/ffmap/tilestache.cfg")' --master --processes 4 --uid www-data --gid www-data --enable-threads
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
