{% extends "bootstrap.html" %}
{% block title %}{{super()}} :: Home{% endblock %}
{% block head %}{{super()}}
	<style type="text/css">
		.jumbotron .consolefont {
			font-style: normal;
			white-space: pre;
			font-family: monospace;
		}
	</style>
{% endblock %}
{% block content %}
	<div class="jumbotron">
		<h1>Freifunk Franken Monitoring</h1>
		<div class="row">
			<div class="col-xs-2 col-sm-2">
				<img src="{{ url_for('static', filename='img/freifunk.svg') }}" alt="Freifunk" style="width: 100%;" />
			</div>
			<div class="col-xs-8 col-sm-8">
				<p style="margin-top:12px">Monitoring f&uuml;r das Freifunk Franken Funknetzwerk.<br />
				Hier werden Daten von Routern ab Firmware 0.5.2 angezeigt.<br />
				Der Quellcode f&uuml;r diese Webanwendung steht unter der GPL und kann <a href="https://github.com/FreifunkFranken/fff-monitoring">hier</a>
				heruntergeladen werden.</p>
				<h2 style="margin-top:30px">Changelog</h2>
				<h3>&Auml;nderungen bis 16.04.2018</h3>
				<ul style="font-size:18px">
				<li>Server-Migration (vielen Dank an den Spender)</li>
				<li>Mehrere Backend-Änderungen sollten dafür sorgen, dass die Routerdaten nun verlässlicher alle 5 Minuten aktualisiert werden</li>
				<li>Drastische Erhöhung der angezeigten Router-Events: Es werden nun die letzten 250 Events angezeigt</li>
				<li>Die Nachbar-Statistik wird nun nur für den letzten Tag geladen; die volle Statistik kann über eine Schaltfläche nachgeladen werden. Zusammen mit anderen Änderungen reduziert dies die Ladezeit der Routerdetailseite enorm</li>
				<li>Die Nachbar-Statistik zeigt nun auch Daten für Knoten an, die gerade nicht verbunden sind, aber es in der Vergangenheit waren</li>
				<li>Das Positions-Popup in der Karte muss nun als Layer aktiviert werden (Standard: aus)</li>
				<li>Die Statisitik-Seite schlüsselt nun die Modelle pro Client auf</li>
				</ul>
				<h3>&Auml;nderungen bis 22.02.2018</h3>
				<ul style="font-size:18px">
				<li>V2-Hoods werden auf der Statistik-Seite farblich hervorgehoben</li>
				<li>Das Setzen des "Blocked"-Status wird als Router-Event geloggt</li>
				<li>Babel-Verbindungskosten werden im Nachbarplot erfasst (erfordert Anpassung der Firmware)</li>
				<li>Die Routerübersicht zeigt nun auch "last contact" an; nach der "uptime" kann sortiert werden</li>
				<li>Netzinterfaces verfügen nun über eine Erklärung sowie Farbhervorhebung entsprechend der Funktion</li>
				<li>Traffic-Control-Status für Router mit aktualisierter Firmware</li>
				<li>Für alle Router ohne Kontaktadresse wird eine Warnung angezeigt</li>
				<li>Das Restart-Event für V2-Hoods wird nun wieder korrekt geloggt</li>
				</ul>
				<h3>&Auml;nderungen bis 01.02.2018</h3>
				<ul style="font-size:18px">
				<li>Detaillierte Client-Statistiken (Ethernet, 2.4 GHz, 5 GHz) für Router mit aktualisierter Firmware</li>
				<li>Airtime-Statistiken für Router mit aktualisierter Firmware</li>
				<li>Netzwerk-Interface-Statistiken werden jetzt in Bit pro Sekunde angezeigt</li>
				</ul>
				<h3>&Auml;nderungen bis 18.01.2018</h3>
				<ul style="font-size:18px">
				<li>Netif-Statistiken werden nur noch 21 Tage erfasst, um die Ladezeit der Routerseite zu reduzieren</li>
				<li>In der Hood-Übersichtstabelle wird nun die Zahl der aktiven Gateways als Spalte angezeigt</li>
				<li>Die Hood- und Gateway-Übersichtstabellen können sortiert werden</li>
				<li>Im KeyXchange gesperrte Router werden im Monitoring entsprechend markiert (diese Einstellung ist nicht live, sondern muss manuell von Admins vorgenommen werden)</li>
				<li>Für Mesh-Router ohne Koordinaten wurde die virtuelle Hood "NoCoordinates" geschaffen; in der Default-Hood werden nur noch die Router angezeigt, die per VPN wirklich in der Default-Hood sind</li>
				</ul>
				<h3>&Auml;nderungen bis 13.01.2018</h3>
				<ul style="font-size:18px">
				<li>Verbundene Gateways werden nun für jeden Router auf der Detailseite angezeigt</li>
				<li>Alle Gateways werden nun ebenso wie die Hoods auf der Statistik-Seite angezeigt; wie für die Hoods sind selektive Statistiken möglich</li>
				<li>Wird die Statistik-Seite nach Hoods gefiltert werden die entsprechenden Gateways angezeigt</li>
				<li>Wird die Statistik-Seite nach Gateways gefiltert erhält man (sofern vom GW-Betreiber bereitgestellt) Information zum Gateway (Admin, Stats-Seite, ...)</li>
				<li>Router k&ouml;nnen anhand der MAC-Adresse ihrer Gateways gesucht werden:<br />Alle Router mit GW: <span class="consolefont">gw:&lt;mac_of_vpnif&gt;</span> oder <span class="consolefont">bat:&lt;mac_of_batX&gt;</span><br />Alle Router, die GW ausgewählt haben: <span class="consolefont">selected:&lt;mac_of_vpn&gt;</span> oder <span class="consolefont">batselected:&lt;mac_of_batX&gt;</span></li>
				</ul>
				<h3>&Auml;nderungen bis 30.12.2017</h3>
				<ul style="font-size:18px">
				<li>Router-Popup in der Karte berücksichtigt aktivierte Layer</li>
				<li>Verwaiste (orphaned) Router werden in der Statistik berücksichtigt</li>
				<li>Für die WLAN-Interfaces werden zusätzliche Informationen (Kanal, SSID, Typ) angezeigt; diese Funktion benötigt ein Firmware-Update des Routers</li>
				<li>Tx-Power für die WLAN-Interfaces wird angezeigt (Antennen werden so berücksichtigt wie dies in der Firmware eingestellt ist)</li>
				<li>Bei Klick auf einen freien Bereich der Karte werden die Koordinaten angezeigt</li>
				<li>Es werden nun 25 Events pro Router angezeigt, die Reihenfolge wurde invertiert</li>
				</ul>
				<h3>&Auml;nderungen bis 20.12.2017</h3>
				<ul style="font-size:18px">
				<li>Router-Statistiken werden für 30 Tage erfasst</li>
				<li>Benutzer können ihren eigenen Account selbst löschen</li>
				<li>Login mit E-Mail-Adresse statt Username ist ab sofort möglich</li>
				<li>Router können per Schaltfläche an Administratoren gemeldet werden, falls rechtswidrige Texte hinterlegt sind</li>
				<li>Router können permanent aus dem Monitoring verbannt werden</li>
				</ul>
				<h3>&Auml;nderungen bis 10.12.2017</h3>
				<ul style="font-size:18px">
				<li>Perma-Link auf Router-Detailseite</li>
				<li>Router k&ouml;nnen anhand der MAC-Adresse ihrer Nachbarn gesucht werden: <span class="consolefont">neighbor:&lt;mac_of_neighbor&gt;</span></li>
				<li>Globale und Hood-Statistiken werden für 365 Tage erfasst</li>
				<li>Die Suchfunktion auf der Router-&Uuml;bersichtsseite unterstützt jetzt größtenteils Regex</li>
				<li>Bei Router-Reset wird ein Hinweis auf Detail- und Übersichtsseite angezeigt</li>
				<li>Die Statistik-Seite wurde umgeordnet (Graphen jetzt rechts oben)</li>
				</ul>
				<h3>&Auml;nderungen bis 17.11.2017</h3>
				<ul style="font-size:18px">
				<li>Router-Status wird schneller aktualisiert: Anzeige nach 90 Sek. (bisher 5 Min.)</li>
				<li>Statistik wird schneller aktualisiert: Anzeige nach 3 Min. (bisher 6 Min.)</li>
				<li>Offline-Status wird schneller aktualisiert: Offline nach 18 Min. (bisher 26 Min.)</li>
				</ul>
				<h3>&Auml;nderungen bis 16.11.2017</h3>
				<ul style="font-size:18px">
				<li>Changelog wird eingeführt</li>
				<li>MySQL-Unterstützung und reines Python3 (Mapnik, Tilestache)</li>
				<li>Individuelle Statistik-Seite pro Hood</li>
				<li><span class="consolefont">/routers/&lt;nr&gt;?fffconfig</span> gibt fffconfig Datei aus</li>
				<li>Neuer Status "orphaned" wenn Router länger als 7 Tage offline sind (Icon wird grau)</li>
				<li>Separate Layer und Farben für KeyXchange v1 und v2 Router</li>
				<li>Leerzeichen in Hoodnamen werden unterstützt (aber nicht gewünscht)</li>
				<li>Hoodname wird nicht mehr nach lower-case konvertiert</li>
				<li><span class="consolefont">/api/wifianalall</span> gibt WifiAnalyzer-Datei für ALLE Router aus</li>
				<li>Statistiken werden in separatem Cronjob berechnet</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
