{% extends "bootstrap.html" %}
{% block viewport %}{{super()}}, maximum-scale=1.0, user-scalable=no{% endblock %}
{% block title %}{{super()}} Map{% endblock %}
{% block head %}{{super()}}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
	<style type="text/css">
		html, body {
			height: 100%;
		}
		.navbar {
			margin-bottom: 0;
		}
		.main_content {
			height: calc(100% - 51px);
			width: 100%;
			padding: 0;
		}
		#map {
			height: 100%;
			width: 100%;
		}
	</style>
{% endblock %}

{% block content %}
	<div id="map"></div>
	<script type="text/javascript">
		var url_get_nearest_router = "{{ url_for('api.get_nearest_router') }}";
		var url_router_info = "{{ url_for('router_info', dbid='') }}";
		var tileurls = {{ tileurls|tojson|safe }};
	</script>
	<script src="{{ url_for('static', filename='js/map.js') }}"></script>
	<script type="text/javascript">
		map.setView([49.45, 11.1], 10);
	</script>
{% endblock %}
